<template>
  <modal-base :name="name">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <label for="ContactName">Contact Name</label>
        </div>
        <div class="col-8">
          <input
            v-model="ContactName"
            class="form-control"
            id="ContactName"
            type="text"
            placeholder="Contact Name"
          />
        </div>
        <div class="col-4">
          <label for="Phone">Phone</label>
        </div>
        <div class="col-8">
          <input v-model="Phone" class="form-control" id="Phone" type="text" placeholder="Phone" />
        </div>
        <div class="col-4" v-if="Phone2Show">
          <label for="Phone">Phone</label>
        </div>
        <div class="col-8" v-if="Phone2Show">
          <input v-model="Phone2" class="form-control" id="Phone2" type="text" placeholder="Phone" />
        </div>
        <div class="col-4" v-if="Phone3Show">
          <label for="Phone">Phone</label>
        </div>
        <div class="col-8" v-if="Phone3Show">
          <input v-model="Phone3" class="form-control" id="Phone3" type="text" placeholder="Phone" />
        </div>
        <div class="col-4" v-if="Phone4Show">
          <label for="Phone">Phone</label>
        </div>
        <div class="col-8" v-if="Phone4Show">
          <input v-model="Phone4" class="form-control" id="Phone4" type="text" placeholder="Phone" />
        </div>
        <div class="col-4" v-if="Phone5Show">
          <label for="Phone">Phone</label>
        </div>
        <div class="col-8" v-if="Phone5Show">
          <input v-model="Phone5" class="form-control" id="Phone5" type="text" placeholder="Phone" />
        </div>
        <div class="cssaddOrminus">

          <span @click="addPhoneInput" v-show="!Phone5Show">+</span>
          <span @click="removePhoneInput" v-show="Phone2Show">-</span>
        </div>
        <div class="buttonSet">
          <button @click="SaveContact">Save</button>
          <button @click="close">Cancel</button>
        </div>
      </div>
    </div>
  </modal-base>
</template>

<script>
import ModalBase from "@/components/ModalBase.vue";
import api from "@/services/api.js";
import Q from "q";
import swal from "sweetalert2";

export default {
  name: "AddNewContact",
  props: {
    name: String
  },
  data() {
    return {
      ContactName: "",
      Phone: "",
      Phone2: "",
      Phone2Show: false,
      Phone3: "",
      Phone3Show: false,
      Phone4: "",
      Phone4Show: false,
      Phone5: "",
      Phone5Show: false
    };
  },
  components: {
    ModalBase
  },
  methods: {
    addPhoneInput() {
      if(!this.Phone2Show){
        this.Phone2Show = true;
      }
      else if(!this.Phone3Show){
        this.Phone3Show = true;
      }
      else if(!this.Phone4Show){
        this.Phone4Show = true;
      }
      else if(!this.Phone5Show){
        this.Phone5Show = true;
      }
    },
    removePhoneInput() {
      if(this.Phone5Show){
        this.Phone5Show = false;
      }
       else if(this.Phone4Show){
        this.Phone4Show = false;
      }
       else if(this.Phone3Show){
        this.Phone3Show = false;
      }
       else if(this.Phone2Show){
        this.Phone2Show = false;
      }
    },
    async SaveContact() {
      swal.showLoading();
      const delayPromise = Q.delay(3000);
      var phones = [];
      if (this.Phone != "" && this.Phone != null) {
        phones.push(this.Phone);
      }
      if (this.Phone2 != "" && this.Phone2 != null && this.Phone2Show) {
        phones.push(this.Phone2);
      }
      if (this.Phone3 != "" && this.Phone3 != null && this.Phone3Show) {
        phones.push(this.Phone3);
      }
      if (this.Phone4 != "" && this.Phone4 != null && this.Phone4Show) {
        phones.push(this.Phone4);
      }
      if (this.Phone5 != "" && this.Phone5 != null && this.Phone5Show) {
        phones.push(this.Phone5);
      }
      const [err, response] = await api.AddNewContact(this.ContactName, phones);
      await delayPromise;
      swal.close();
      if (err == null) {
        if (response.data.Error == null) {
          this.$emit("contact", response.data.Contact);
          (this.ContactName = ""), (this.Phone = "");
          this.Phone2 = "";
          this.close();
        } else {
          swal.fire({
            imageUrl: "img/confirmation.svg",
            imageWidth: 68,
            imageHeight: 68,
            text: response.data.Error,
            confirmButtonColor: "#46d8a3",
            confirmButtonText:
              '<img class="mx-1" src="img/icon-cheek.svg" width="14px" height="14px">' +
              "OK",
            confirmButtonClass: "btn btn-all lgreen-col con-fs-16 px-btnsweet"
          });
        }
      } else {
        swal.fire({
          imageUrl: "img/confirmation.svg",
          imageWidth: 68,
          imageHeight: 68,
          text: err.errObj,
          confirmButtonColor: "#46d8a3",
          confirmButtonText:
            '<img class="mx-1" src="img/icon-cheek.svg" width="14px" height="14px">' +
            "OK",
          confirmButtonClass: "btn btn-all lgreen-col con-fs-16 px-btnsweet"
        });
      }
    },
    close() {
      this.Phone2Show = false;
      this.Phone3Show = false;
      this.Phone4Show = false;
      this.Phone5Show = false;
      this.Phone = "";
      this.Phone2 = "";
      this.Phone3 = "";
      this.Phone4 = "";
      this.Phone5 = "";
      this.ContactName = "";
      this.$modal.hide("AddNewContact");
    }
  }
};
</script>

<style scoped>
.buttonSet {
  padding-top: 30px;
  margin: 0 auto;
}
.cssaddOrminus {
  width: 100%;
  padding-top: 10px;
  margin: 0 auto;
}
.cssaddOrminus span {
  font-size: 30px;
  border: solid blue 2px;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  display: inline-block;
  line-height: 25px;
  margin: 15px;
}

.cssaddOrminus span:hover {
  cursor: pointer;
}
</style>
