<template>
  <modal-base :name="name">
    <div class="container">
      <input type="text" v-model="phone" />
    </div>
    <div class="row">
      <div class="col-12">
        <button @click="AddPhone">Save</button>
        <button @click="close">Cancel</button>
      </div>
    </div>
  </modal-base>
</template>

<script>
import ModalBase from "@/components/ModalBase.vue";
import api from "@/services/api.js";
import swal from "sweetalert2";

export default {
  name: "AddPhone",
  props: {
    name: String,
    contactId: String
  },
  data() {
    return {
      phone: ""
    };
  },
  components: {
    ModalBase
  },
  methods: {
    async AddPhone() {
      const [err, response] = await api.AddPhone(this.contactId, this.phone);

      if (err == null) {
        if (response.data.Error == null) {
          this.$emit("AddPhoneToContact", response.data.AddedPhoneId, this.contactId, this.phone);
          this.close();
        } else {
          swal.fire({
            imageUrl: "img/confirmation.svg",
            imageWidth: 68,
            imageHeight: 68,
            text: response.data.Error,
            confirmButtonColor: "#46d8a3",
            confirmButtonText: "OK",
            confirmButtonClass: "btn btn-all lgreen-col con-fs-16 px-btnsweet"
          });
        }
      } else {
        swal.fire({
          imageUrl: "img/confirmation.svg",
          imageWidth: 68,
          imageHeight: 68,
          text: err.errObj,
          confirmButtonColor: "#46d8a3",
          confirmButtonText: "OK",
          confirmButtonClass: "btn btn-all lgreen-col con-fs-16 px-btnsweet"
        });
      }
    },
    close() {
      this.$modal.hide("AddPhone");
    }
  }
};
</script>

