<template>
  <modal-base @opened="Opened" :name="name">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <label for="contactname">Name</label>
          <input type="text" v-model="ContactInModal.ContactName" id="contactname" />
        </div>
        <div class="col-12" v-for="(phone, index) in ContactInModal.Phones" :key="phone.Id">
          <label :for="'contactphone'+index">Phone</label>
          <span @click="remove(phone)" class="Circle">-</span>
          <input type="text" v-model="phone.Phone" :id="'contactphone'+index" />
        </div>
        <div class="AddCircleCss">
          <span @click="AddInput" class="Circle">+</span>
        </div>
        <div class="col-12">
          <button @click="EditContact">Save</button>
          <button @click="close">Cancel</button>
        </div>
      </div>
    </div>
  </modal-base>
</template>

<script>
import ModalBase from "@/components/ModalBase.vue";
import api from "@/services/api.js";
import lodash from "lodash";
import swal from "sweetalert2";

export default {
  name: "EditContact",
  props: {
    name: String,
    contact: {}
  },
  data() {
    return {
      ContactInModal: {}
    };
  },
  computed: {
    LengthPhonesRemuveShow() {
      if (this.ContactInModal == undefined) {
        return false;
      } else {
        var res = this.ContactInModal.Phones.length > 1;
      }
      return res;
    },
    LengthPhonesAddShow() {
      if (this.ContactInModal == undefined) {
        return false;
      } else {
        var res = this.ContactInModal.Phones.length < 5;
      }
      return res;
    }
  },
  components: {
    ModalBase
  },
  methods: {
    async EditContact() {
      const [err, response] = await api.EditContact(this.ContactInModal);
      if (err == null) {
        if (response.data.Error == null) {
          this.$emit("editcontact", response.data.Contact);
          this.close();
        } else {
          swal.fire({
            imageUrl: "img/confirmation.svg",
            imageWidth: 68,
            imageHeight: 68,
            text: response.data.Error,
            confirmButtonColor: "#46d8a3",
            confirmButtonText: "OK"
          });
        }
      } else {
        swal.fire({
          imageUrl: "img/confirmation.svg",
          imageWidth: 68,
          imageHeight: 68,
          text: err.errObj,
          confirmButtonColor: "#46d8a3",
          confirmButtonText:
            '<img class="mx-1" src="img/icon-cheek.svg" width="14px" height="14px">' +
            "OK",
          confirmButtonClass: "btn btn-all lgreen-col con-fs-16 px-btnsweet"
        });
      }
    },
    async Opened() {
      this.ContactInModal = await lodash.clone(this.contact);
    },
    close() {
      this.ContactInModal = {};
      this.$modal.hide("EditContact");
    },
    remove(phone) {
      this.ContactInModal.Phones = this.ContactInModal.Phones.filter(
        x => x.Id != phone.Id
      );
    },
    AddInput() {
      var emptyContact = {
        Id: this.ContactInModal.Phones.length,
        Phone: ""
      };
      this.ContactInModal.Phones.push(emptyContact);
    }
  }
};
</script>

<style scoped>
.Circle {
  font-size: 30px;
  border: solid blue 2px;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  display: inline-block;
  line-height: 25px;
  margin: 15px;
}
.Circle{
  margin: 0 auto;
  font-size: 30px;
  border: solid blue 2px;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  display: inline-block;
  line-height: 25px;
  margin: 15px;
}
.AddCircleCss{
  margin: 0 auto;
}
</style>