<template>
  <modal-base :name="name">
    <div :model="selectedLng">
      <div
        v-for="locale in locales"
        :value="locale.lng"
        :key="locale.name"
        @click="onChange(locale.lng)"
        class="btn-add-info py-3 gray d-flex justify-content-center bor-b dirltr"
        name="location"
      >
        <span>
          {{locale.name}}
          <img :src="locale.image" width="25px;" height="25px;" />
        </span>
      </div>
      <div class="closeBlock">
        <a class="btn-add-info py-3 gray" name="close" @click="close">
          <span>{{t('btnClose')}}</span>
        </a>
      </div>
    </div>
  </modal-base>
</template>

<script>
import { locales } from "@/config/i18n";
import helper from "@/services/helper.js";
import ModalBase from "@/components/ModalBase.vue";
import api from "@/services/api.js";
import Q from "q";

export default {
  name: "LocaleSwitcher",
  props: {
    name: String
  },
  data() {
    return {
      selectedLng: helper.getCookie("currentLng"),
      locales
    };
  },
  components: {
    ModalBase
  },
  methods: {
    close() {
      this.$modal.hide("LocaleSwitcher");
    },
    async onChange(name) {
      if (name !== this.$store.state.currentLng) {
        await api.SetLanguage(name);
        this.close();
        const delayPromise = Q.delay(200);
        await delayPromise;
        this.$router.go();
      } else {
        this.close();
      }
    }
  }
};
</script>
<style scoped>
.bor-b {
  border-bottom: 1px solid #7f8fa4 !important;
}
.closeBlock{
  margin-top: 40px;
}
</style>

