<template>
  <modal
    :name="name"
    @before-open="beforeOpen"
    @opened="opened"
    @before-close="beforeClose"
    width="100%"
    height="auto"
    :pivot-y="1"
    class="modal-wrapper max-h"
  >
    <slot></slot>
  </modal>
</template>

<script>
import Vue from 'vue';
import helper from '@/services/helper.js';

export default Vue.extend({
    name: 'ModalBase',
    props: {
        name: String,
        title: String,
        cancelText: String,
    },
    methods: {
        beforeOpen(event) {
            this.$emit('open', event);
            helper.setKeyToQuery(this.name);
        },
        opened(event) {
            this.$emit('opened', event);
        },
        beforeClose() {
            this.$emit('before-close', event);
            helper.removeKeyFromQuery(this.name, true);
        },
    },
});
</script>
<style>
.v--modal-overlay {
    z-index: 1050 !important;
    bottom: 0 !important;
}
.v--modal-overlay .v--modal-box {
    overflow: scroll !important;
}
.v--modal {
    border-radius: 5px !important;
}
.max-h {
    max-height: 100vh;
}
.v--modal-box.v--modal {
    padding-top: 40px;
    position: absolute!important;
    top: 50%!important;
    left: 50%!important;
    transform: translate(-50%, -50%)!important;
    text-align: center;
    height: auto;
    width: 600px!important;
}
</style>


