<template>
  <div>
    <div class="view-login">
      <header class="login-header">
        <div class="container">
          <div class="row align-items-center"></div>
        </div>
      </header>
      <div class="container-fluid stage1">
        <div class="content">
          <div class="row">
            <div class="col-12">
              <h2 name="headline">Login</h2>
            </div>
            <div class="col-12">
              <p name="username">User Name</p>
            </div>
            <div class="col-12">
              <input
                type="text"
                v-model="UserName"
                placeholder="UserName"
              />
            </div>
            <div class="col-12">
              <p name="password">Password</p>
            </div>
            <div class="col-12">
              <input
                v-model="Password"
                :placeholder="Password"
                type="password"
              />
            </div>
            <div class="col-12">
              <button
                @click="Login"
                name="sign-in"
              >SignIn</button>

              <div @click="swapLanguage">
                <img :src="LngImage" width="32px;" height="32px;" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button @click="goRegister">Register</button>
      </div>
    </div>
    <language name="LocaleSwitcher"></language>
  </div>
</template>

<script>
import Vue from "vue";
import router from "../router.js";
import api from "../services/api.js";
// import store from '../store';
// import AppVue from '../App.vue';
import swal from "sweetalert2";
import language from "../components/modals/LocaleSwitcher.vue";
import Q from "q";
import helper from "../services/helper";

export default Vue.extend({
  data() {
    return {
      UserName: "",
      Password: "",
      LngImage: Vue.prototype.$currentLocale.image
      // KeyT: this.$options.methods!.t,
    };
  },
  components: {
    language
  },
  methods: {
    goRegister() {
      router.push("Register");
    },
    async Login() {
      swal.showLoading();
      const delayPromise = Q.delay(1000);
      const [err, response] = await api.Login(this.UserName, this.Password);
      await delayPromise;
      swal.close();
      if (err == null) {
        if (response.data.Error == null) {
          this.$store.commit("Authoraize", true);
          router.push("Main");
        } else {
          swal.fire({
            imageUrl: "img/confirmation.svg",
            imageWidth: 68,
            imageHeight: 68,
            text: response.data.Error,
            confirmButtonColor: "#46d8a3",
            confirmButtonText:
              '<img class="mx-1" src="img/icon-cheek.svg" width="14px" height="14px">' + "OK",
            confirmButtonClass: "btn btn-all lgreen-col con-fs-16 px-btnsweet"
          });
        }
      } else {
        swal.fire({
          imageUrl: "img/confirmation.svg",
          imageWidth: 68,
          imageHeight: 68,
          text: err.errObj,
          confirmButtonColor: "#46d8a3",
          confirmButtonText:
            '<img class="mx-1" src="img/icon-cheek.svg" width="14px" height="14px">' + "OK",
          confirmButtonClass: "btn btn-all lgreen-col con-fs-16 px-btnsweet"
        });
      }
    },
    async submitLogout() {
      helper.logOut();
    },
    swapLanguage() {
      this.$modal.show("LocaleSwitcher");
    }
  }
});
</script>