<template>
  <div>
    <div class="black">
      <div class="container fluid">
        <div class="row">
          <div class="col-4">
            <div class="lefttopblock">
              <span class="infouser">
                <span class="username">User Name:</span>
                {{UserName}}
              </span>
            </div>
          </div>
          <div class="col-4">
            <label for="exampleForm2">Search</label>
            <input type="text" class="form-control" v-model="searchData" @change="SearchInput()" />
          </div>
          <div class="col-4">
            <div class="button_cont" align="right">
              <a
                class="example_a"
                target="_blank"
                rel="nofollow noopener"
                @click="CreateNewContact"
              >Add Contact</a>
            </div>
          </div>
        </div>
        <div class="row">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th
                  scope="col"
                  class="contactName"
                  @click="setSortingString('PersonNumber')"
                >Contact Name</th>
                <th scope="col">Phones</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(contact, index) in SearchInput" :key="contact.ContactId">
                <th scope="row" class="thSetting">{{index + 1}}</th>
                <td>{{contact.ContactName}}</td>
                <td>
                  <div v-if="contact.Phones.length == 0">Empty</div>
                  <div v-else v-for="phone in contact.Phones" :key="phone.Id">{{phone.Phone}}</div>
                </td>
                <td>
                  <button @click="AddPhoneShowModal(contact.ContactId)">Add Phone</button>
                </td>
                <td>
                  <button @click="Edit(contact)">Edit</button>
                </td>
                <td>
                  <button @click="Delete(contact.ContactId)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <newcontact @contact="AddContactInList" name="AddNewContact"></newcontact>
    <editcontact
      :contact="EditContactEntity"
      @editcontact="ChangeEditedContactData"
      name="EditContact"
    ></editcontact>
    <addPhone
      :contactId="ContactIdByAddPhone"
      @AddPhoneToContact="AddPhoneToContact"
      name="AddPhone"
    ></addPhone>
  </div>
</template>

<script>
import Vue from "vue";
import api from "../services/api.js";
import swal from "sweetalert2";
import newcontact from "../components/modals/AddNewContact.vue";
import editcontact from "../components/modals/EditContact.vue";
import addPhone from "../components/modals/AddPhone.vue";

export default Vue.extend({
  data() {
    return {
      StartContacts: [],
      UserName: "",
      Contacts: [],
      EditContactEntity: {},
      searchData: "",
      ContactIdByAddPhone: "",
      sort: {
        by: "",
        asc: true
      }
    };
  },
  components: {
    newcontact,
    editcontact,
    addPhone
  },
  mounted() {
    this.GetContacts();
  },
  computed: {
    SearchInput() {
        if (this.searchData && this.searchData.length > 1) {
          var contacts = this.StartContacts.filter(
            x =>
              x.ContactName &&
              x.ContactName.toLowerCase().includes(
                this.searchData.toLowerCase()
              )
          );
          return contacts;
        } else {
          return this.StartContacts;
        }
    },
  },
  methods: {
    async AddPhoneShowModal(contactId) {
      this.ContactIdByAddPhone = contactId;
      this.$modal.show("AddPhone");
    },
    async ChangeEditedContactData(contact) {
      var oldContact = await this.Contacts.find(
        x => x.ContactId == this.EditContactEntity.ContactId
      );
      oldContact.ContactId = contact.ContactId;
      oldContact.ContactName = contact.ContactName;
      oldContact.Phones = [];
      contact.Phones.forEach(phone => {
        var ph = {
          Id: phone.Id,
          Phone: phone.Phone
        };
        oldContact.Phones.push(ph);
      });
      swal.fire({
        position: "center",
        type: "success",
        title: "Contact Edited",
        showConfirmButton: false,
        timer: 1500
      });
    },
    async Delete(contactId) {
      swal
        .fire({
          title: "Are you sure?",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes, delete it!"
        })
        .then(async result => {
          if (result.value) {
            const [err, response] = await api.DeleteContact(contactId);
            if (err == null) {
              if (response.data.Error == null) {
                this.Contacts = this.Contacts.filter(
                  x => x.ContactId != contactId
                );
                swal.fire({
                  position: "center",
                  type: "success",
                  title: "Contact Deleted",
                  showConfirmButton: false,
                  timer: 1500
                });
              } else {
                swal.fire({
                  imageUrl: "img/confirmation.svg",
                  imageWidth: 68,
                  imageHeight: 68,
                  text: response.data.Error,
                  confirmButtonColor: "#46d8a3",
                  confirmButtonText:
                    '<img class="mx-1" src="img/icon-cheek.svg" width="14px" height="14px">' +
                    "OK",
                  confirmButtonClass:
                    "btn btn-all lgreen-col con-fs-16 px-btnsweet"
                });
              }
            } else {
              swal.fire({
                imageUrl: "img/confirmation.svg",
                imageWidth: 68,
                imageHeight: 68,
                text: err.errObj,
                confirmButtonColor: "#46d8a3",
                confirmButtonText:
                  '<img class="mx-1" src="img/icon-cheek.svg" width="14px" height="14px">' +
                  "OK",
                confirmButtonClass:
                  "btn btn-all lgreen-col con-fs-16 px-btnsweet"
              });
            }
          }
        });
    },
    async Edit(contact) {
      var clonedContact = {};
      clonedContact.ContactId = contact.ContactId;
      clonedContact.ContactName = contact.ContactName;
      clonedContact.Phones = [];
      contact.Phones.forEach(phone => {
        var ph = {
          Id: phone.Id,
          Phone: phone.Phone
        };
        clonedContact.Phones.push(ph);
      });
      this.EditContactEntity = clonedContact;
      this.$modal.show("EditContact");
    },
    async AddContactInList(contact) {
      this.Contacts.unshift(contact);
      swal.fire({
        position: "center",
        type: "success",
        title: "Contact Added",
        showConfirmButton: false,
        timer: 1500
      });
    },
    CreateNewContact() {
      this.$modal.show("AddNewContact");
    },
    async GetContacts() {
      swal.showLoading();
      const [err, response] = await api.GetContacts();
      swal.close();
      if (err == null) {
        if (response.data.Error == null) {
          this.UserName = response.data.UserName;
          this.StartContacts = response.data.Contacts;
          this.Contacts = response.data.Contacts;
        } else {
          swal.fire({
            imageUrl: "img/confirmation.svg",
            imageWidth: 68,
            imageHeight: 68,
            text: response.data.Error,
            confirmButtonColor: "#46d8a3",
            confirmButtonText:
              '<img class="mx-1" src="img/icon-cheek.svg" width="14px" height="14px">' +
              "OK",
            confirmButtonClass: "btn btn-all lgreen-col con-fs-16 px-btnsweet"
          });
        }
      } else {
        swal.fire({
          imageUrl: "img/confirmation.svg",
          imageWidth: 68,
          imageHeight: 68,
          text: err.errObj,
          confirmButtonColor: "#46d8a3",
          confirmButtonText:
            '<img class="mx-1" src="img/icon-cheek.svg" width="14px" height="14px">' +
            "OK",
          confirmButtonClass: "btn btn-all lgreen-col con-fs-16 px-btnsweet"
        });
      }
    },
    AddPhoneToContact(addedPhoneId, contactId, phone) {
      this.Contacts.filter(x => x.ContactId == contactId)[0].Phones.unshift({
        Id: addedPhoneId,
        Phone: phone
      });
    }
  }
});
</script>

<style>
.thSetting {
  vertical-align: center !important;
}
.infouser {
  text-align: left;
}
.lefttopblock {
  text-align: left;
}
.black {
  color: black;
}
.username {
  font-size: 14px;
  font-weight: 600px;
}

/*button*/
.example_a {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ed3330;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}
.example_a:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
/**/
</style>