<template>
  <div>
    <div class="view-login">
      <header class="login-header">
        <div class="container">
          <div class="row align-items-center">
          </div>
        </div>
      </header>
      <div class="container-fluid stage1">
        <div class="content">
          <div class="row">
            <div class="col-12">
              <h2 class="Loginh2" name="headline">Register</h2>
            </div>
            <div class="col-12">
              <p class="loginP" name="username">User Name</p>
            </div>
            <div class="col-12">
              <input
                class="loginInp"
                type="text"
                v-model="UserName"
                placeholder="User Name"
              />
            </div>
            <div class="col-12">
              <p class="loginP" name="password">Password</p>
            </div>
            <div class="col-12">
              <input
                class="loginInp"
                v-model="Password"
                placeholder="Password"
                type="password"
              />
            </div>
            <div class="col-12 lastLoginRow">
              <button
                class="loginbtn btn btn-block"
                @click="Register"
                name="sign-in"
              >Registration</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import api from '../services/api.js';

export default Vue.extend({
    data() {
        return {
            UserName: '',
            Password: '',
        };
    },
    methods: {
        Register() {
            api.Register(this.UserName, this.Password);
        }
    },
});
</script>